<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team5 Recommendation UI (React)</title>
    <link rel="stylesheet" href="/static/team5/styles/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet" />
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script>window.Team5UI = window.Team5UI || {};</script>
    <script type="text/babel" src="/static/team5/ui/constants.js"></script>
    <script type="text/babel" src="/static/team5/ui/utils.js"></script>
    <script type="text/babel" src="/static/team5/ui/components/StarRating.jsx"></script>
    <script type="text/babel" src="/static/team5/ui/components/MediaCard.jsx"></script>
    <script type="text/babel" src="/static/team5/ui/components/CardsView.jsx"></script>
    <script type="text/babel" src="/static/team5/ui/components/App.jsx"></script>
    <script type="text/babel" src="/static/team5/ui/main.jsx"></script>
  </body>
</html>